# Exercise 2: Homework

## Exercise 3: This is a simple introduction as required in the assignment, the following cells will be consequent to the excersizes of the following

### Exercise 4: Data science languages:
- Python
- R
- SQL
- JAVA
- C++

### Exercise 5: Data Science Libraries
- Numpy
- Pandas
- Matplotlib
- Sickit-learn

### Exercise 6: Data Science tools Table

| Data Science category| data science tool
|----| ---- |
|Data Management| MySQL, PostgreSQL, MangoDB|
|Data integration and transformation| apache Airflow|
|Data visulaization| PowerPI|
|Code Asset Management| Git |
|Data Asset Management | Jupyter Notebook|

### Exercise 7 : We will list arithmetic processes as following

### Exercise 8: the following will be a code cell of multiplication and addition

In [6]:
Mult= 5*3
print("Mult=",Mult)

Add = 5+3
print("Sum=", Add)

Mult= 15
Sum= 8

### Exercise 9: This is to convert minutes to hours

In [9]:
minutes = 90/60
print("90 minutes into hours = ", minutes, "hours")

90 minutes into hours =  1.5 hours

### Exercise 10 : This is the list of objectives 
- Understand the purpose of the exercise.
- Practice creating markdown cells in Jupyter Notebook.
- Familiarize yourself with basic formatting using Markdown syntax.

### Excerise 11 : Author name : Ali Ateik